<ion-popover-view>
  <div class="about">
    <h6>GDG DevFest App</h6>
  </div>
  <ion-content>
    <div class="padLbl">
      <h6>&copy; {{date | date:'yyyy'}} <a href="#" onClick="window.open('https://github.com/GDGKansasCity/flying-disc', '_system', 'location=yes')">Project flying-disc</a></h6>
      <h6>Version 1.0</h6>
      <h6>
        <strong>Designed &amp; Created by:</strong>
        <p>
          Kyle Paul<br />
          <a href="#" onClick="window.open('http://gdgkc.org', '_system', 'location=yes')">GDG Kansas City</a>
        </p>
      </h6>
  </div>
  </ion-content>
</ion-popover-view>