<ion-side-menus>
  <ion-pane ion-side-menu-content>
    <ion-nav-bar class="bar-assertive">
      <ion-nav-back-button></ion-nav-back-button>
    </ion-nav-bar>
    <ion-nav-view name="menuContent" animation="slide-left-right"/>
  </ion-pane>

  <ion-side-menu side="left">
<!-- ng-style="{'background-image':'url(/img/gdg_' + authData.provider + '.png)'}" -->
    <header class="topbar drawer large">
      <img class="gravatar depth z1" src="{{getPicture(authData)}}">
      <div class="username">
        <strong>{{eventName}}</strong>
        <br>{{getName(authData) ? getName(authData) : (authData.provider === 'twitter' ? '@' + getHandle(authData) : getHandle(authData)) || ''}}
      </div>
    </header>
    <ion-content class="nav-header">
      <ion-list>
        <ion-item class="item-icon-left" nav-clear menu-close href="#/app/sessions">
          <i class="icon ion-document-text"></i>
          Sessions
        </ion-item>
        <ion-item class="item-icon-left" nav-clear menu-close href="#/app/favorites">
          <i class="icon ion-heart"></i>
          Favorites
        </ion-item>
        <ion-item class="item-icon-left" nav-clear menu-close ng-click="getTicket()">
          <i class="icon ion-code"></i>
          Tickets
        </ion-item>
        <ion-item class="item-icon-left" nav-clear menu-close href="#/app/sponsors">
          <i class="icon ion-social-usd"></i>
          Sponsors
        </ion-item>
        <ion-item class="item-icon-left" nav-clear menu-close href="#/app/about">
          <i class="icon custom icon-boomerang"></i>
          About
        </ion-item>
        <ion-item class="item-icon-left" nav-clear menu-close ng-click="logout()">
          <i class="icon ion-log-out"></i>
          Logout
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>