<ion-side-menus>
  <ion-pane ion-side-menu-content>
    <ion-nav-bar class="bar-assertive">
      <ion-nav-back-button></ion-nav-back-button>
    </ion-nav-bar>
    <ion-nav-view name="menuContent" animation="slide-left-right"/>
  </ion-pane>

  <ion-side-menu side="left">
    <header class="topbar drawer large" style="background-image:url(img/background.png)"> 
      <img class="gravatar depth z1" ng-src="{{user.image}}">
      <div class="username">
        <strong>{{eventName}}</strong>
        <br>
        <span ng-if="user.provider === 'google'" class="icon-left ion-social-googleplus">
          &nbsp;{{user.name ? user.name : user.handle || ''}}
        </span>
        <span ng-if="user.provider === 'facebook'" class="icon-left ion-social-facebook">
          &nbsp;{{user.name ? user.name : user.handle || ''}}
        </span>
        <span ng-if="user.provider === 'twitter'" class="icon-left ion-social-twitter">
          &nbsp;{{user.name ? user.name : '@' + user.handle || ''}}
        </span>
        <span ng-if="user.provider === 'github'" class="icon-left ion-social-github">
          &nbsp;{{user.name ? user.name : user.handle || ''}}
        </span>
      </div>
    </header>
    <ion-content class="nav-header">
      <ion-list>
        <ion-item class="item-icon-left" nav-clear menu-close href="#/app/sessions">
          <i class="icon ion-document-text"></i>
          Sessions
        </ion-item>
        <ion-item class="item-icon-left" nav-clear menu-close href="#/app/favorites">
          <i class="icon ion-heart"></i>
          Favorites
        </ion-item>
        <ion-item ng-show="ticketURL" class="item-icon-left" nav-clear menu-close ng-click="getTicket()">
          <i class="icon ion-code"></i>
          Tickets
        </ion-item>
        <ion-item ng-show="sponsors" class="item-icon-left" nav-clear menu-close href="#/app/sponsors">
          <i class="icon ion-social-usd"></i>
          Sponsors
        </ion-item>
        <ion-item class="item-icon-left" nav-clear menu-close href="#/app/about">
          <i class="icon custom icon-boomerang"></i>
          About
        </ion-item>
        <ion-item class="item-icon-left" nav-clear menu-close ng-click="logout()">
          <i class="icon ion-log-out"></i>
          Logout
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>