<ion-view title="DevFest KC Schedule">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-content class="has-header">
    <ion-slide-box slide-tabs-scrollable="false" show-pager="false" ion-slide-tabs>
      <ion-slide ion-slide-tab-label="Mobile / Android">
        <div class="gdg_loading" ng-show="loading"></div>
        <div ng-hide="loading">
          <ion-item ng-repeat="session in sessions | filter:{track: '1'}:true | orderBy:'time'" type="item-text-wrap" class="item-avatar" href="#/app/sessions/{{session.$id}}">
            <img ng-src="{{getSessionIcon(session)}}"/>
            <div class="title"><strong>{{session.title}}</strong><br />{{getTime(session.time) | date:'shortTime'}} <span ng-if="session.speaker">| {{session.speaker}}</span></div>
          </ion-item>
        </div>
      </ion-slide>
      <ion-slide ion-slide-tab-label="Cloud / Web">
        <div class="gdg_loading" ng-show="loading"></div>
        <div ng-hide="loading">
          <ion-item ng-repeat="session in sessions | filter:{track: '2'}:true | orderBy:'time'" type="item-text-wrap" class="item-avatar" href="#/app/sessions/{{session.$id}}">
            <img ng-src="{{getSessionIcon(session)}}"/>
            <div class="title"><strong>{{session.title}}</strong><br />{{getTime(session.time) | date:'shortTime'}} <span ng-if="session.speaker">| {{session.speaker}}</span></div>
          </ion-item>
        </div>
      </ion-slide>
      <ion-slide ion-slide-tab-label="Workshops">
        <div class="gdg_loading" ng-show="loading"></div>
        <div ng-hide="loading">
          <ion-item ng-repeat="session in sessions | filter:{track: '3'}:true | orderBy:'time'" type="item-text-wrap" class="item-avatar" href="#/app/sessions/{{session.$id}}">
            <img ng-src="{{getSessionIcon(session)}}"/>
            <div class="title"><strong>{{session.title}}</strong><br />{{getTime(session.time) | date:'shortTime'}} <span ng-if="session.speaker">| {{session.speaker}}</span></div>
          </ion-item>
        </div>
      </ion-slide>
    </ion-slide-box>
  </ion-content>
</ion-view>