<ion-view title="Speaker Detail">
  <ion-content class="has-header">
    <div class="list card">
      <div class="item">
        <div class="speaker-thumbnail"><img src="{{ speaker.image }}" /></div>
        <div class="speakerTitle"><h2>{{ speaker.name }}</h2><br />
          <p>{{ speaker.company }} / {{ speaker.title }}</p>
        </div>
      </div>
      <div class="item item-body">
        <p>{{ speaker.bio }}</p>
      </div>
    </div>
    <div class="list card">
      <div class="item item-divider">
        <h2>Connect Here</h2>
      </div>
      <div class="item item-body">
        <ion-item ng-if="speaker.google !== ''" type="item-text-wrap" href="#" ng-click="openLink('{{ socialLink('google_plus', speaker.google) }}')">
          <img ng-src="{{ favIcon(socialLink('google_plus', speaker.google)) }}"/>&nbsp;&nbsp;Google+
        </ion-item>
        <ion-item ng-if="speaker.facebook !== ''" type="item-text-wrap" href="#" ng-click="openLink('{{ socialLink('facebook', speaker.facebook) }}')">
          <img ng-src="{{ favIcon(socialLink('facebook', speaker.facebook)) }}"/>&nbsp;&nbsp;Facebook
        </ion-item>
        <ion-item ng-if="speaker.twitter !== ''" type="item-text-wrap" href="#" ng-click="openLink('{{ socialLink('twitter', speaker.twitter) }}')">
          <img ng-src="{{ favIcon(socialLink('twitter', speaker.twitter)) }}"/>&nbsp;&nbsp;Twitter
        </ion-item>
        <ion-item ng-if="speaker.github !== ''" type="item-text-wrap" href="#" ng-click="openLink('{{ socialLink('github', speaker.github) }}')">
          <img ng-src="{{ favIcon(socialLink('github', github)) }}"/>&nbsp;&nbsp;GitHub
        </ion-item>
        <ion-item ng-if="speaker.website !== ''" type="item-text-wrap" href="#" ng-click="openLink('{{ speaker.website }}')">
          <img ng-src="{{ favIcon(speaker.website) }}"/>&nbsp;&nbsp;Website
        </ion-item>
      </div>
    </div>
  </ion-content>
</ion-view>