<ion-view title="Speaker Detail">
  <ion-content class="has-header">
    <div class="list card">
      <div class="item">
        <div class="speaker-thumbnail"><img src="{{ speaker.image }}" /></div>
        <div class="speakerTitle"><h2>{{ speaker.name }}</h2><br />
          <p>{{ speaker.company }}<br>{{ speaker.title }}</p>
        </div>
      </div>
      <div class="item item-body">
        <p>{{ speaker.bio }}</p>
      </div>
    </div>
    <div class="list card">
      <div class="item item-divider">
        <h2>Connect Here</h2>
      </div>
      <div class="item item-body">
        <ion-item ng-if="speaker.google" type="item-text-wrap" href="#" ng-click="openLink('{{ socialLink('google_plus', speaker.google) }}')">
          <i class="icon ion-social-googleplus"></i>&nbsp;&nbsp;{{speaker.google}}
        </ion-item>
        <ion-item ng-if="speaker.facebook" type="item-text-wrap" href="#" ng-click="openLink('{{ socialLink('facebook', speaker.facebook) }}')">
          <i class="icon ion-social-facebook"></i>&nbsp;&nbsp;{{speaker.facebook}}
        </ion-item>
        <ion-item ng-if="speaker.twitter" type="item-text-wrap" href="#" ng-click="openLink('{{ socialLink('twitter', speaker.twitter) }}')">
          <i class="icon ion-social-twitter"></i>&nbsp;&nbsp;@{{speaker.twitter}}
        </ion-item>
        <ion-item ng-if="speaker.github" type="item-text-wrap" href="#" ng-click="openLink('{{ socialLink('github', speaker.github) }}')">
          <i class="icon ion-social-github"></i>&nbsp;&nbsp;{{speaker.github}}
        </ion-item>
        <ion-item ng-if="speaker.website" type="item-text-wrap" href="#" ng-click="openLink('{{ speaker.website }}')">
          <i class="icon ion-earth"></i>&nbsp;&nbsp;{{speaker.website}}
        </ion-item>
      </div>
    </div>
  </ion-content>
</ion-view>