@charset "UTF-8";

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

@font-face {
	font-family: 'icomoon';
	src:url('../fonts/icomoon/icomoon.eot?-4hmhav');
	src:url('../fonts/icomoon/icomoon.eot?#iefix-4hmhav') format('embedded-opentype'),
		url('../fonts/icomoon/icomoon.ttf?-4hmhav') format('truetype'),
		url('../fonts/icomoon/icomoon.woff?-4hmhav') format('woff'),
		url('../fonts/icomoon/icomoon.svg?-4hmhav#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="custom icon-"], [class*="custom icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-boomerang:before {
	content: "\e600";
}

.gdg_loading {
  background: url('../img/gdg_loading.gif') no-repeat 0 0 rgb(255, 255, 255);
  padding: 20px;
  width: 64px;
  height: 64px;
}
.nav-header {
  top: 140px !important;
}
.topbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 56px;
  line-height: 56px;
  background: #F44336;
  color: #ffffff;
  z-index: 1104;
  background-size: cover;
}
.topbar.drawer {
  position: relative;
}
.topbar.large {
  height: 140px;
  border-color: #D50000;
  background-color: #F44336;
  background-image: linear-gradient(0deg, #F44336, #F44336 50%, transparent 50%);
  color: #fff;
}
.topbar .username {
  font-size: 16px;
  left: 0;
  line-height: 28px;
  padding-bottom: 15px;
  padding-left: 15px;
  padding-top: 13px;
  position: absolute;
  top: 56px;
  width: 100%;
  z-index: 1110;
  text-shadow: 1px 1px 2px #000000;
}
.topbar .gravatar {
  border-radius: 50%;
  bottom: 20px;
  height: 66px;
  overflow: hidden;
  position: absolute;
  right: 20px;
  width: 66px;
}
.depth.z1 {
  box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.4);
}
.padLbl {
  padding: 5px;
}
.item .title {
  white-space: normal;
  font-size: 14px;
}
.item .sessionTitle {
  padding-left: 50px;
  top: 16px;
  position: fixed;
}
.item .sessionTitle :first-child {
  white-space: normal;
}
.item .speakerTitle {
  padding-left: 140px;
  top: 16px;
  position: absolute;
}
.item .name {
  white-space: normal;
  padding-left: 50px;
}
.about a {
  color: #F44336;
}
.fave {
  color: red;
}
.btn {
  width: 220px;
  margin:0 auto;
  display: block;
}
.item.btnLogin {
  padding: 4px;
}
.addCal {
  float: right;
  font-size: 20px;
}
.pic {
  max-height: 120px;
  max-width: 120px;
}
h1 .title {
  font-size: 19px;
}
.popover {
  height: 200px;
  color: #000000;
}
.popover a {
  text-decoration: none;
}
.popover .padLbl {
  margin-top: 30px;
}
.popover .about {
  height: 34px;
  background-color: #444444;
  width: 100%;
  position: absolute;
  top: 0;
}
.popover .about > h6 {
  font-size: 15px;
  color: #ffffff;
  text-align: center;
}
.platform-ios .popover-arrow::after {
  background-color: #444444;
}
.speaker-avatar {
  height: 40px;
  width: 40px;
  overflow: hidden;
  float: left;
  border: 1px solid #eb463b;
  border-radius: 50%;
}
.speaker-avatar img {
  height: auto;
  width: 100%;
  left: 16px;
}
.speaker-thumbnail {
  top: 16px;
  width: 120px;
  height: 120px;
  overflow: hidden;
  border-radius: 5%;
  border: 1px solid #eb463b;
}
.speaker-thumbnail img {
  width: 100%;
}
.sponsor {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-height: 120px;
  max-width: 100%
}